<!DOCTYPE html>
<html lang="en">
  <title>YoClicker - Error</title>
  <%- include head.ejs %>
  <head>
  </head>
  <body>
    <ul>
      <li><%= statusCode %> :(</li>
      <li><a href="mailto:dasilvacontin@gmail.com">CONTACT</a></li>
    </ul>
  </body>
</html>