<!DOCTYPE html>
<html lang="en">
<title>YoClicker - Viewer</title>
<%- include head.ejs %>
<meta name="viewport" content="minimal-ui">
<style type="text/css">

  .wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .chart {
    width: 100%;
    height: 100%;
    font-size: 20px;
  }

</style>
<head>
</head>
<body>
<div class='wrapper'>
  <div class='chart' id="myChart"></div>
</div>
<script src="/js/runOnLoad.js"></script>
<script src="/js/HighchartsAdapter.js" type="text/javascript"></script>
<script src="/js/highcharts.src.js" type="text/javascript"></script>
<script src='/js/yoChartTheme.js'></script>
<script>

  function getYoColor(i) {
    return yoColors[i%yoColors.length];
  }

  var series = [{
    type: 'pie',
    data: [
        ['Yehuda Katz', 450],
        ['Angus Croll', 260],
        ['Substack', 120],
        ['Justin Meyer', 80],
        ['Paul O’Shannessy', 450],
        ['John-David Dalton', 260],
        ['Domenic Denicola', 120],
        ['Julien Lecomte', 80],
        ['Soledad Penadés', 80],
        ['Joe McCann', 80],
        ['Charlie Robbins', 80],
        ['Mike McNeil', 80]
    ]
  }];

  // create a new chart
  runOnLoad(function(){
    new Highcharts.Chart({
    chart : {
      renderTo : 'myChart',
      type     : 'pie'
    },
    credits: {
      enabled: false
    },
    title: {
        text: 'dotjs2014 best speaker award'
    },
    series: series
    });
  });

</script>
</body>
</html>