<!DOCTYPE html>
<html lang="en">
  <title>YoClicker - Voter</title>
  <%- include head.ejs %>
  <head>
  </head>
  <body>
    <ul>
      <li><%= pollName %></li>
    <% for (var i = 0; i < questions.length; i++) {%>
      <li>
        <a href="<%= '/voter/'+pollName+'/'+i+'/'+vid %>">
          <%= questions[i].question %>
        </a>
      </li>
    <% } %>
    </ul>
  </body>
</html>