body {
	background-color: #9B59B6;
}

.action.action {
	background-color: #e74c3c;
}

li:nth-child(8n+1) {
	background-color: #1ABC9C;
}

li:nth-child(8n+2) {
	background-color: #2ECC71;
}

li:nth-child(8n+3) {
	background-color: #3498DB;
}

li:nth-child(8n+4) {
	background-color: #34495E;
}

li:nth-child(8n+5) {
	background-color: #16A085;
}

li:nth-child(8n+6) {
	background-color: #F1C40F;
}

li:nth-child(8n+7) {
	background-color: #2980B9;
}

li:nth-child(8n) {
	background-color: #8E44AD;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li {
	cursor: default;
}

li > a {
	cursor: pointer;
}

li, li > a {

	display: block;
	text-decoration: none;
	line-height: 89px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 40px;
	padding: 0px;
	margin: 0px;
	height: 89px;
	width: 100%;
	white-space: nowrap;

	color: white;
	text-align: center;
}